import twitter, pusher
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = 
EMAIL_USE_TLS = True
SECRET_KEY = ''

def tweeter():
    return twitter.Api(consumer_key='', consumer_secret='', access_token_key='', access_token_secret='')

def pushshsh(x):
    pusher.Pusher(app_id='', key='', secret='', ssl=True, port=443).trigger("nyuuu", "hug", {"id": x.pk})
