{% extends "hug/core.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <form method="post" action="{% url "auth_login" %}" class="col s12">
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
        {% if form.errors %}
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="username" name="username" type="text" class="validate">
            <label for="username" class="active">Your username</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="password" name="password" type="password" class="validate">
            <label for="password" class="active">Your password</label>
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect center" type="submit" name="action">Let's go! <i class="material-icons">send</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
